<div ng-app>
    <input type="text" ng-model="input1" />
    <input type="text" ng-model="input2" />
    <span class="glyphicon glyphicon-ok" ng-show="input1 && input2 && input1 === input2"></span>
    <span class="glyphicon glyphicon-remove" ng-show="input1 && input2 && input1 !== input2"></span>
</div>
